<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>404 - Page Not Found - Black-Shop host</title>



    <!-- Styling -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:400,700" rel="stylesheet">
<link href="/templates/Black-Shop/css/all.min.css?v=b4c444" rel="stylesheet">
<link href="/templates/Black-Shop/css/bootstrap-rtl.css?v=b4c444" rel="stylesheet">
<link href="/templates/Black-Shop/css/main.min.css" rel="stylesheet">
<link href="/templates/Black-Shop/css/custom.css" rel="stylesheet">
<link href="/templates/Black-Shop/css/RTL.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type="text/javascript">
    var csrfToken = '7a89fda9b34c8c23c6499490ef0b50341308eea6',
        markdownGuide = 'Керівництво по розмітці',
        locale = 'en',
        saved = 'збережено',
        saving = 'автоматичне збереження',
        whmcsBaseUrl = "",
        requiredText = 'Необхідно',
        recaptchaSiteKey = "";
</script>
<script src="/templates/Black-Shop/js/scripts.min.js?v=b4c444"></script>




    




<!-- Dynamic Template Compatibility -->
<!-- Please update your theme to include or have a comment on the following to negate dynamic inclusion -->
<link rel="stylesheet" type="text/css" href="/assets/css/fontawesome-all.min.css" />

</head>

<body data-phone-cc-input="1">



<html>

  <head> 

    <meta charset="utf-8">

    <meta property="og:title" content="Black-Shop Host">

    <meta property="og:site_name" content="Black-Shop Host | بلاك شوب هوست">

    <meta property="og:image" content="https://cdn.discordapp.com/attachments/697070485363753061/772587168635682826/logonewpng.png">

    <meta property="og:description" content="استضافة بلاك شوب هوست , تقدم خوادم مميزة بأرخص الأسعار وسرعة وخدمة فائقة , خوادم ويندوز وايضآ لينكس , وسيرفرات الالعاب">

    <meta name="theme-color" content="#434266">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width">

    <title>Black-Shop Host | بلاك شوب هوست</title>

    <link href="style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdn.discordapp.com/attachments/697070485363753061/772587168635682826/logonewpng.png">



  </head>

  <body>

  </body>

</html>



    <div class="preloader"><!-- start preloader -->

        <div class="preloader-container">

            <svg version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">

                <circle fill="#675cda" stroke="none" cx="6" cy="50" r="6">

                    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15" repeatCount="indefinite" begin="0.1" />

                </circle>

                <circle fill="#675cda" stroke="none" cx="30" cy="50" r="6">

                    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10" repeatCount="indefinite" begin="0.2" />

                </circle>

                <circle fill="#675cda" stroke="none" cx="54" cy="50" r="6">

                    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5" repeatCount="indefinite" begin="0.3" />

                </circle>

            </svg>

            <span>انتظر من فضلك</span>

        </div>

    </div><!-- end preloader -->

	





<div id="coodiv-header" class="d-flex mx-auto flex-column subpages-header moon-edition"><!-- start header -->

        <div class="bg_overlay_header">

		<div id="particles-bg"></div>

        <img src="/templates/Black-Shop/img/header/h_bg_02.svg" alt="img-bg">

		
        </div>

        <!-- Fixed navbar -->

		<div class="whmcs-top-header-coodiv">

		<div class="container">

		<ul class="top-header-right-nav">

		<li><i class="bredhicon-chat-inv"></i> support@black-shop.store</li>

		</ul>

		

		<ul class="top-nav">

            
                <li>

                    <a href="#" class="choose-language whmcs-top-header-coodiv-link" data-toggle="popover" id="languageChooser">

					<i class="bredhicon-location-inv"></i>

					<span>Українська</span>

					</a>

                    <div id="languageChooserContent" class="hidden">

                        <ul>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=arabic">العربية</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=azerbaijani">Azerbaijani</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=catalan">Català</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=chinese">中文</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=croatian">Hrvatski</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=czech">Čeština</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=danish">Dansk</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=dutch">Nederlands</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=english">English</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=estonian">Estonian</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=farsi">Persian</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=french">Français</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=german">Deutsch</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=hebrew">עברית</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=hungarian">Magyar</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=italian">Italiano</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=macedonian">Macedonian</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=norwegian">Norwegian</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=portuguese-br">Português</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=portuguese-pt">Português</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=romanian">Română</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=russian">Русский</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=spanish">Español</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=swedish">Svenska</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=turkish">Türkçe</a>

                                </li>

                            
                                <li>

                                    <a href="/templates/Black-Shop/css/owl.video.play.png?language=ukranian">Українська</a>

                                </li>

                            
                        </ul>

                    </div>

                </li>

            
            
                
                    <li>

                        <a class="whmcs-top-header-coodiv-link" title="Реєстрація" href="/register.php">

						<i class="bredhicon-lock-empty"></i>

						<span>Реєстрація</span>

						</a>

                    </li>

                
                <li>

                    <a class="whmcs-top-header-coodiv-link" href="/cart.php?a=view">

					<i class="bredhicon-box"></i>

					<span>Переглянути кошик</span>

                    </a>

                </li>

            
            
                 <li>

                        <a class="whmcs-top-header-coodiv-link" href="https://discord.gg/kmFs56Z" target="_blank">

						<i class="fab fa-discord"></i>

						<span>سيرفرنا في الديسكورد</span>

						</a>

                    </li>

        </ul>

		</div>

		</div>



	

        <nav id="coodiv-navbar-header" class="navbar navbar-expand-md fixed-header-layout">

            <div class="container main-header-coodiv-s">

                <a class="navbar-brand" href="/index.php">

				<img class="w-logo" src="https://cdn.discordapp.com/attachments/697070485363753061/772588407808458802/black-shop_host.png" alt="Black-Shop host" />

				<img class="b-logo" src="https://cdn.discordapp.com/attachments/697070485363753061/772588407808458802/black-shop_host.png" alt="Black-Shop host" />

				</a>

                <button class="navbar-toggle offcanvas-toggle menu-btn-span-bar ml-auto" data-toggle="offcanvas" data-target="#offcanvas-menu-home">

                    <span></span>

                    <span></span>

                    <span></span>

                </button>

                <div class="coodiv-colpass-menu-header navbar-offcanvas" id="offcanvas-menu-home">

                    <ul class="nav navbar-nav ml-auto">

                        <li menuItemName="Home" class="" id="Primary_Navbar-Home">
        <a href="/index.php">
                        Головна
                                </a>
            </li>
    <li menuItemName="Store" class="dropdown" id="Primary_Navbar-Store">
        <a class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="Primary_Navbar-Store" href="#">
                        Store
                        &nbsp;<b class="caret"></b>        </a>
                    <ul class="dropdown-menu" aria-labelledby="Primary_Navbar-Store">
                            <li menuItemName="Browse Products Services" id="Primary_Navbar-Store-Browse_Products_Services">
                    <a href="/cart.php">
                                                Browse All
                                            </a>
                </li>
                            <li menuItemName="Shop Divider 1" class="nav-divider" id="Primary_Navbar-Store-Shop_Divider_1">
                    <a href="">
                                                -----
                                            </a>
                </li>
                            <li menuItemName="إستضافة VPS" id="Primary_Navbar-Store-إستضافة_VPS">
                    <a href="/cart.php?gid=4">
                                                إستضافة VPS
                                            </a>
                </li>
                        </ul>
            </li>
    <li menuItemName="Announcements" class="" id="Primary_Navbar-Announcements">
        <a href="/announcements">
                        Сповіщення
                                </a>
            </li>
    <li menuItemName="Knowledgebase" class="" id="Primary_Navbar-Knowledgebase">
        <a href="/knowledgebase">
                        База знань
                                </a>
            </li>
    <li menuItemName="Network Status" class="" id="Primary_Navbar-Network_Status">
        <a href="/serverstatus.php">
                        Статус мережі
                                </a>
            </li>
    <li menuItemName="Contact Us" class="" id="Primary_Navbar-Contact_Us">
        <a href="/contact.php">
                        Зв'язок з нами
                                </a>
            </li>

                    </ul>

                </div>

                <ul class="header-user-info-coodiv">

                    <li class="dropdown">

					

                    	

					

					<a role="button" id="header-login-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">

					
					Вхід

					
					</a> <span>12365-8448</span>

                        <!-- user header dropdown -->

                        <div class="dropdown-menu coodiv-dropdown-header user-login-dropdown " aria-labelledby="header-login-dropdown">

						
                            <form class="user-login-dropdown-form" method="post" action="https://black-shop.store/dologin.php">
<input type="hidden" name="token" value="7a89fda9b34c8c23c6499490ef0b50341308eea6" />

                                <div class="form-group username">

                                    <input type="email" name="username" id="inputEmail" placeholder="Введіть email" class="form-control" autofocus>

                                    <i class="fas fa-at"></i>

                                </div>



                                <div class="form-group password">

                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" autocomplete="off">

                                    <i class="fas fa-lock"></i>

                                </div>

                                <button data-toggle="tooltip" data-placement="left" title="Увійти" class="user-login-dropdown-form-button" type="submit"><i class="fas fa-angle-right"></i></button>

                            </form>

						
                        </div>

                        <!-- end user header dropdown -->

                    </li>

                </ul>

            </div>

        </nav>

		

		<div class="header-height-clone"></div>

		
		<main class="container mb-auto mt-auto main-header-sub-pages-informations">

		<div class="header-lined">
    <h1>404 - Page Not Found</h1>
    <ol class="breadcrumb">
    </ol>
</div>

        </main>



		
        <div class="mt-auto"></div>

    </div><!-- end header -->

	
    
    <section id="main-body">

      <div class="container-fluid without-padding">

        <div class="row">



        
        <!-- Container for main page display content -->

        <div class="col-xs-12 main-content">

            




<!--Start of Tawk.to Script-->

<script type="text/javascript">

var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();

(function(){

var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];

s1.async=true;

s1.src='https://embed.tawk.to/5f83509cf0e7167d00181073/default';

s1.charset='UTF-8';

s1.setAttribute('crossorigin','*');

s0.parentNode.insertBefore(s1,s0);

})();

</script>

<!--End of Tawk.to Script-->

<div class="container">

    <div class="error-container boxed">

        <h1><i class="fas fa-exclamation-triangle"></i> Oops!</h1>
        <h3>We couldn't find that page</h3>
        <p>Please try navigating using the options below.</p>

        <div class="buttons">
            <a href="https://black-shop.store/" class="btn btn-default">
                Homepage
            </a>
            <a href="https://black-shop.store/submitticket.php" class="btn btn-default">
                Contact Support
            </a>
        </div>

    </div>

</div>



                </div><!-- /.main-content -->
                            <div class="clearfix"></div>
        </div>
    </div>
</section>


<section class="footer-section-banner">
                <div class="col-md-4 free-trial-footer-links d-flex mx-auto flex-column">
                    <div class="mb-auto"></div>
                    <div class="mb-auto">
					                        <a class="sign-btn" href="register.php">التسجيل</a>
                        <a class="log-btn" href="login.php">الدخول</a>
					                    </div>
                    <div class="mt-auto"></div>
                </div>
            </div>
        </div>
    </section>

   <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9 quiq-links-footer">
                    <h5 class="quiq-links-footer-title">روابط سريعة</h5>
                    <div class="row">
                        <ul class="col-md-6 quiq-links-footer-ul">
                        <li><a href="about.php">من نحن ؟</a></li>
                        <li><a href="cart.php">خدماتنا</a></li>
                        <li><a href="/Terms.php">اتفاقية الخدمة</a></li>
                        </ul>

                        <ul class="col-md-6 quiq-links-footer-ul">
                            <li><a href="https://black-shop.store/submitticket.php">اتصل بنا</a></li>
                            <li><a href="pwreset.php">هل نسيت كلمة المرور؟</a></li>
                            <li><a href="https://discord.gg/kmFs56Z">سيرفرنا الديسكورد</a></li>

                        </ul>

                    </div>
                </div>

                <div class="col-md-3">
                    <h5 class="quiq-links-footer-title">وسائل الدفع</h5>
                    <p class="secure-img-footer-area">
                        <img src="https://cdn.discordapp.com/attachments/691724685922009138/694194184252555314/payment_icons.png" alt="" height="50" width="200">
                        <img src="https://cdn.discordapp.com/attachments/730680478855725096/777971382814244904/1200px-Al_Rajhi_Bank_Logo.svg.png" alt="" height="50" width="200">
                        <span> </span>
                    </p>


                    <div class="footer-contact-method">
                        <a>
                            <span color="#2fd5c9">البريد الالكتروني :</span>
                            <b>support@black-shop.store</b>
                            <i class="fas fa-at"></i>
                        </a>

                    </div>
                </div>
            </div>


<div class="modal system-modal fade" id="modalAjax" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-primary">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only"></span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body panel-body">
            Завантаження...
            </div>
            <div class="modal-footer panel-footer">
                <div class="pull-left loader">
                    <i class="fas fa-circle-notch fa-spin"></i>
                    Завантаження...
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    
                </button>
                <button type="button" class="btn btn-primary modal-submit">
                    
                </button>
            </div>
        </div>
    </div>
</div>
<form action="#" id="frmGeneratePassword" class="form-horizontal">
    <div class="modal fade" id="modalGeneratePassword">
        <div class="modal-dialog">
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" id="generatePwLengthError">
                        
                    </div>
                    <div class="form-group">
                        <label for="generatePwLength" class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <input type="number" min="8" value="12" step="1" class="form-control input-inline input-inline-100" id="inputGeneratePasswordLength">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="generatePwOutput" class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputGeneratePasswordOutput">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <button type="submit" class="btn btn-default btn-sm">
                                <i class="fa fa-plus fa-fw"></i>
                                
                            </button>
                            <button type="button" class="btn btn-default btn-sm copy-to-clipboard" data-clipboard-target="#inputGeneratePasswordOutput">
                                <img src="assets/img/clippy.svg" alt="Copy to clipboard" width="15">
                                
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        
                    </button>
                    <button type="button" class="btn btn-primary" id="btnGeneratePasswordInsert" data-clipboard-target="#inputGeneratePasswordOutput">
                        
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>



    <!-- template JavaScript -->
    <script src="/templates/Black-Shop/js/template-scripts.js"></script>
    <!-- flickity JavaScript -->
    <script src="/templates/Black-Shop/js/flickity.pkgd.min.js"></script>
    <!-- carousel JavaScript -->
    <script src="/templates/Black-Shop/owlcarousel/owl.carousel.min.js"></script>
    <!-- parallax JavaScript -->
    <script src="/templates/Black-Shop/js/parallax.min.js"></script>
    <!-- mailchamp JavaScript -->
    <script src="/templates/Black-Shop/js/mailchamp.js"></script>
    <!-- bootstrap offcanvas -->
    <script src="/templates/Black-Shop/js/bootstrap.offcanvas.min.js"></script>
    <!-- touchSwipe JavaScript -->
    <script src="/templates/Black-Shop/js/jquery.touchSwipe.min.js"></script>
    <!-- seconde style additionel JavaScript -->
	<script src="/templates/Black-Shop/js/particles-code.js"></script>
	<script src="/templates/Black-Shop/js/particles.js"></script>
	<script src="/templates/Black-Shop/js/smoothscroll.js"></script>
	
	
</body>
</html>
